<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-left: 10%;
            padding-right: 10%;
        }
        input{
            width: 275px;
            padding: 8px 10px;
            border-style: solid;
            border-width: 1px;
            border-radius: 8px;
            margin-bottom: 10px;
        }
        button{
            background-color: #699908;
            color: #fff;
            border-radius: 8px;
            width: 200px;
            height: 35px;
            font-weight: bold;
            border-style: none;
            font-size: 14   px;
            cursor: pointer;
        }
    </style>
    
</head>
<body>
    {% if registerForm is defined %}
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}
    {% endif %}
    
    <br>

    {% if registeredCidadao is defined %}
        <p>Cidadão {{ registeredCidadao.name }} cadastrado com o NIS {{ registeredCidadao.nis }}</p>
    {% endif %}
</body>
</html>