<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home - Desafio Gesuas</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-left: 10%;
            padding-right: 10%;
        }
        a{
            font-size: 14px;
            background-color: #699908;
            padding: 10px;
            color: #fff;
            text-decoration: none;
            border-radius: 8px;
            width: 200px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h2>Cadastro e Pesquisa de Cidadãos</h2>

    <a href="/search">Procurar Cidadão por NIS</a>
    <br>
    <a href="/register">Cadastrar Cidadão</a>

    <br><br><br><br>
</body>
</html>